.time_tracker_time_entries .time_entry_time {
  min-width: 160px;
} 

.time_tracker_time_entries .time_entry_duration {
  min-width: 55px;
}


/*
  For the Time entry form on Nodes
*/

#edit-start-datepicker-popup-0,
#edit-end-datepicker-popup-0  {
  width: 100px;
}

#edit-start-wrapper,
#edit-end-wrapper,
#edit-time-wrapper,
#edit-start-datepicker-popup-0-wrapper,
#edit-end-datepicker-popup-0-wrapper,
#edit-start-timeEntry-popup-1-wrapper,
#edit-end-timeEntry-popup-1-wrapper,
#edit-time-datepicker-popup-0-wrapper {
  padding: 0px;
}


.form-item-username,
#edit-time-wrapper,

.form-item-duration,
.form-item-activity,
#edit-deductions-wrapper {
  float:left;
}

.form-item-duration input {
  width: 60px;
}

.form-item-username {
  /*margin-right: 20px;*/
/*  width: 200px;*/
}

.form-item-username input {
  /*width: 200px;*/
}

.form-item-activity select {
/*  min-width: 200px;*/
}

#time-tracker-time-entry-form .time_entry,
#comment-form .time_entry {
  clear: both;
}

#time-tracker-time-entry-form .container-inline-date,
#comment-form .container-inline-date {
  float: left;
  display: inline;
  clear: none;
}

#edit-locked-wrapper,
#edit-billable-wrapper,
#edit-billed-wrapper {
  clear:both;
}

#edit-note-wrapper {
  clear: both;
}

#time-tracker-time-entry-form #edit-submit {
  display: inline;
  clear: both;
}


/*
  For the Time entry form on Comments
  NOTE: Only when tracking time on BOTH the node itself and the comments
  for a particular node type
*/

#edit-start-1-datepicker-popup-0,
#edit-end-1-datepicker-popup-0  {
  width: 100px;
}

#edit-start-1-wrapper,
#edit-end-1-wrapper,
#edit-time-1-wrapper,
#edit-start-1-datepicker-popup-0-wrapper,
#edit-end-1-datepicker-popup-0-wrapper,
#edit-start-1-timeEntry-popup-1-wrapper,
#edit-end-1-timeEntry-popup-1-wrapper,
#edit-time-1-datepicker-popup-0-wrapper {
  padding: 0px;
}

#edit-username-1-wrapper,
#edit-time-1-wrapper,
#edit-duration-1-wrapper,
#edit-activity-1-wrapper,
#edit-deductions-1-wrapper {
  float:left;
}
#comment-form .form-item,
#edit-locked-1-wrapper,
#edit-billable-1-wrapper,
#edit-billed-1-wrapper {
  clear:both;
}

#edit-duration-1-wrapper input {
  width: 60px;
}

#edit-username-1-wrapper {
  /*margin-right: 20px;*/
/*  width: 200px;*/
}

#edit-username-1-wrapper input {
  /*width: 200px;*/
}

#edit-activity-1-wrapper select {
/*  min-width: 200px;*/
}

#edit-note-1-wrapper {
  clear: both;
}

