# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
sites/*/drushrc.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore IDE
.idea
.idea/*
