# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
sites/*/drushrc.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore robots.txt and .htaccess, which will be symlinks different for staging and development.
robots.txt
.htaccess

# Ignore files which have been renamed from a standard Drupal installation.
htaccess
htaccess-development
robots.txt-development

# Ignore the stats directory, where some server admin panels (like ISPConfig) store web access statistics.
stats

# Ignore IDE
.idea
.idea/*

# Ignore vagrant
.vagrant
