/**
 * @file
 * Styles to be applied globally, not specific to views, content types or other.
 *
 * Esp. also includes overwrites for global.*.css styles from the commons_origins base theme.
 */

html {
  /* Reset font size to browser's initial size), overwriting "html" selector in global.styles.css. */
  /* Cannot be overwritten on body instead, since it's a relative size. (Except when using >100% sizes there.) */
  font-size: 100%;
}

body {
  /* Make text color gray also for ul etc. elements, once and for all. Overwriting Commons Origins. */
  color: #333333;

  background-color: white;
}

/*### FIXES*/
.page-node:not(.page-node-edit) .pane-node-comment-wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-top: 35px;
  padding-left: 35px;
  padding-right: 35px;
  max-width: 600px;
}

#comments .indented {
  margin-left: 40px;
}

#comments .comment {
  padding-left: 0;
}

#comments .comment-title {
  line-height: 1.3;
}

#comments .field-name-comment-body P > SPAN {
  display: inline-block;
  line-height: 1.7;
}

/*Twitter block*/
.pane-block-15 {
  max-width: 530px;
  margin-left: auto;
  margin-right: auto;
}

.pane-block-15 IFRAME {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/*Small devices*/
@media screen and (max-width: 934px) {
  
  #comments {
    font-size: 90%;
  }

  #comments .indented {
    margin-left: 20px;
  }
}	