#navbar-administration .navbar-bar .navbar-icon::before {
    width: 32px;
}

#navbar-administration .navbar-bar .navbar-icon {
    padding-left: 3.5em;
    padding-right: 2em;
    font-size: 1.2em;
}

