/* Remove margins around main elements to give a starting position for a borderless layout. */

.node-type-challenge-response:not(.page-node-edit) #page .columns,
.node-type-challenge-response:not(.page-node-edit) #page #main-content,
.node-type-challenge-response:not(.page-node-edit) #content .panel-display,
.node-type-challenge-response:not(.page-node-edit) .pane-node-content.block > div.block-inner {
  margin-left: 0px;
  margin-right: 0px;
}

.node-type-challenge-response:not(.page-node-edit) #block-system-main .region-one-main,
.node-type-challenge-response:not(.page-node-edit) .user-picture-available {
  padding-left: 0px;
  padding-right: 0px;
}

.node-type-challenge-response:not(.page-node-edit) figure {
  /* Avoid small gaps after images caused by line height. */
  font-size: 0;
}

/* Left and right spacing for everything except the full-width blue infobox. */

.node-type-challenge-response:not(.page-node-edit) #messages, 
.node-type-challenge-response:not(.page-node-edit) #page-top, 
.node-type-challenge-response:not(.page-node-edit) .node-challenge-response .submitted,
.node-type-challenge-response:not(.page-node-edit) .field-name-title-field,
.node-type-challenge-response:not(.page-node-edit) .field-name-og-challenge-ref,
.node-type-challenge-response:not(.page-node-edit) .field-name-field-response-question,
.node-type-challenge-response:not(.page-node-edit) .field-name-field-response-problem,  
.node-type-challenge-response:not(.page-node-edit) .field-name-field-response-solution,
.node-type-challenge-response:not(.page-node-edit) .field-name-field-channels,
.node-type-challenge-response:not(.page-node-edit) .field-name-body,
.node-type-challenge-response:not(.page-node-edit) .pane-node-comment-wrapper {
  padding-left: 7%;
  padding-right: 7%;
}

/* User picture and authoring information. */

.node-type-challenge-response:not(.page-node-edit) .with-user-picture {
  float: right;
}

.node-type-challenge-response:not(.page-node-edit) .user-picture {
  float: none;
  position: initial;
  margin: 0;
}

.node-type-challenge-response:not(.page-node-edit) .user-picture::after { /* Small speech bubble triangle. */
  display: none; /* Hide, b/c its negative position gives the page a horizontal scrollbar. */
}

.node-type-challenge-response:not(.page-node-edit) .author-datetime {
  margin-bottom: 0;
}

.node-type-challenge-response:not(.page-node-edit) .author-datetime .node-content-type-challenge-response {
  /* Hide the "Challenge Response" text, starting the subtitle with "created by …" directly. */
  display: none;
}

/* Title. */

.node-type-challenge-response:not(.page-node-edit) .field-name-title-field .field-item {
  color: #6176bf;
  font-size: 24pt;
  font-weight: bold;
}

/* Blue infobox with metadata, incl. the header image. */

.node-type-challenge-response:not(.page-node-edit) .group-infobox {
  background-color: #354572;
  padding-top: 35px;
  padding-bottom: 35px;
}

.node-type-challenge-response:not(.page-node-edit) .group-infobox section:first-of-type .field-label {
  margin-top: 0; /* Make first text begin at same position as floated header image. */
}

.node-type-challenge-response:not(.page-node-edit) .group-infobox .field-items {
  color: #bec8e1;
}

.node-type-challenge-response:not(.page-node-edit) .group-infobox .field-name-field-channels ul.field-items {
  margin: 0;
}

.node-type-challenge-response:not(.page-node-edit) .group-infobox .field-name-field-response-image {
  float: right;
  margin-left: 35px;
  width: 40%;
}

.node-type-challenge-response:not(.page-node-edit) .group-infobox:after {
  /* Clearfix code, to make sure this "blue infobox" element contains its floating header image child. */
  content: "";
  display: table;
  clear: both;
}

.node-type-challenge-response:not(.page-node-edit) .group-infobox .field-name-field-response-image img {
  width: 100%;
}

/* Body text formatting. */

.node-type-challenge-response:not(.page-node-edit) .field-name-body:before { /* clearfix */
  content: "";
  display: block;
  clear: both;
}

.node-type-challenge-response:not(.page-node-edit) .field-name-body {
  text-align: justify;
  text-justify: distribute;
}

.node-type-challenge-response:not(.page-node-edit) .field-name-body .field-items {
  margin-top: 3em; /* Cannot be applied to parent b/c it creates no space to floating elements before. */
}

/* Comment form formatting. */

.node-type-challenge-response:not(.page-node-edit) .pane-node-comment-wrapper {
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 35px;
  padding-left: 35px;
  padding-right: 95px;
}

.node-type-challenge-response:not(.page-node-edit) .field-name-comment-body {
  text-align: justify;
  text-justify: distribute;
}

/*### FIXES*/
.page-node:not(.page-node-edit) .pane-node-comment-wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-top: 35px;
  padding-left: 35px;
  padding-right: 35px;
  max-width: 600px;
}

#comments .indented {
  margin-left: 40px;
}

#comments .comment {
  padding-left: 0;
}

#comments .comment-title {
  line-height: 1.3;
}

#comments .field-name-comment-body P > SPAN {
  display: inline-block;
  line-height: 1.7;
}

/*Twitter block*/
.pane-block-15 {
  max-width: 530px;
  margin-left: auto;
  margin-right: auto;
}

.pane-block-15 IFRAME {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/*Small devices*/
@media screen and (max-width: 934px) {
  
  #comments {
    font-size: 90%;
  }

  #comments .indented {
    margin-left: 20px;
  }
}	