/**
 * @file
 * Styling for Edgeryders navbar icons.
 */

/**
 * Edgeryders logo
 */
.navbar-bar .navbar-icon-edgeryders:before {
    background-image: url("../misc/icons/edgeryders-logo.svg");
}
.no-svg .navbar-bar .navbar-icon-edgeryders:before {
    background-image: url("../misc/icons/edgeryders-logo.png");
}
.navbar-bar .navbar-icon-edgeryders:active:before,
.navbar-bar .navbar-icon-edgeryders.active:before {
    background-image: url("../misc/icons/edgeryders-logo.svg");
}
.no-svg .navbar-bar .navbar-icon-edgeryders:active:before,
.no-svg .navbar-bar .navbar-icon-edgeryders.active:before {
    background-image: url("../misc/icons/edgeryders-logo.png");
}

/**
 * Admin icon
 */
.navbar-bar .navbar-icon-configuration:before {
    background-image: url("../misc/icons/ffffff/wrench.svg");
}
.no-svg .navbar-bar .navbar-icon-configuration:before {
    background-image: url("../misc/icons/ffffff/wrench.png");
}
.navbar-bar .navbar-icon-configuration.navbar-active::before {
    background-image: url("../misc/icons/f1472c/wrench.svg");
}
.no-svg .navbar-bar .navbar-icon-configuration.navbar-active::before {
    background-image: url("../misc/icons/f1472c/wrench.png");
}

/**
 * Menu icon
 */
#navbar-administration .navbar-bar .navbar-icon-menu:before {
    background-image: url("../misc/icons/ffffff/hamburger.svg");
}
#navbar-administration .no-svg .navbar-bar .navbar-icon-menu:before {
    background-image: url("../misc/icons/ffffff/hamburger.png");
}
#navbar-administration .navbar-bar .navbar-icon-menu.navbar-active::before,
#navbar-administration .navbar-icon-menu.navbar-active::before {
    background-image: url("../misc/icons/f1472c/hamburger.svg");
}
#navbar-administration .no-svg .navbar-bar .navbar-icon-menu.navbar-active::before,
#navbar-administration .no-svg .navbar-icon-menu.navbar-active::before {
    background-image: url("../misc/icons/f1472c/hamburger.png");
}

 /**
 * Expand handles
 */
#navbar-administration .navbar-icon.navbar-handle::before {
    background-image: url("../misc/icons/f1472c/chevron-disc-down.svg");
}
#navbar-administration .no-svg .navbar-icon.navbar-handle:before {
    background-image: url("../misc/icons/f1472c/chevron-disc-down.png");
}
#navbar-administration .navbar-icon.navbar-handle-active::before {
    background-image: url("../misc/icons/ffffff/chevron-disc-up.svg");
}
#navbar-administration .navbar-icon-menu.navbar-active::before {
    background-image: url("../misc/icons/ffffff/chevron-disc-up.png");
}