/**
 * @file
 * Styling for Edgeryders navbar icons.
 */

/**
 * Navbar tab icon.
 */
.navbar-bar .navbar-icon-edgeryders:before {
    background-image: url("../misc/icons/edgeryders-logo.svg");
}
.no-svg .navbar-bar .navbar-icon-edgeryders:before {
    background-image: url("../misc/icons/edgeryders-logo.png");
}
.navbar-bar .navbar-icon-edgeryders:active:before,
.navbar-bar .navbar-icon-edgeryders.active:before {
    background-image: url("../misc/icons/edgeryders-logo.svg");
}
.no-svg .navbar-bar .navbar-icon-edgeryders:active:before,
.no-svg .navbar-bar .navbar-icon-edgeryders.active:before {
    background-image: url("../misc/icons/edgeryders-logo.png");
