
/* CSS Attributes used when viewing Project Management nodes */

dt.print_html {
  background: transparent url(images/html.png) no-repeat top left;
}

dt.print_pdf {
  background: transparent url(images/pdf.png) no-repeat top left;
}

div.pmfields, div.field, div.pmbody {
  width: 70%;
}

div.pmfields div.label, div.pmbody div.label, div.field div.field-label-inline-first {
  float: left;
  width: 150px;
  text-align: right;
  clear: left;
  font-weight: bold;
}

div.pmlinks {
  float:right;
  width: 30%;
}

div.pmbody div.value p {
  clear: left;
  margin: 1.2em;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
}

table#attachments {
  float: left;
}
