
#edit-roles
{
	overflow:auto;
}

.form-item-roles div.form-item
{
	float:left;
	margin:0;
	clear:left;
	padding:0;
}

.form-item-roles p
{
	margin:0 0 2px 5px;
	float:left;
}

.form-item-roles .description
{
	clear:left;
	margin-top:5px;
}

#password-expiry-table .form-text
{
	float:left;
	margin:0 10px 0 0;
	width:20px;
}